In [4]:
import pandas as pd

# Import salary data
salary_data = pd.read_csv('total.csv')
salary_data.head()

C:\Users\BenjaminMaosaMongare\AppData\Local\Temp\ipykernel_23320\756492965.py:4: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  salary_data = pd.read_csv('total.csv')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

In [5]:
# Create an employee function
def get_employee_details(name):
    try:
        employee = salary_data[salary_data['EmployeeName'].str.lower() == name.lower()]
        if employee.empty:
            raise ValueError("Employee not found.")
        return employee
    except Exception as e:
        return f"Error: {str(e)}"

# Test the function
print(get_employee_details('Nathaniel Ford'))

     EmployeeName                                        JobTitle    BasePay  \
0  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18

  OvertimePay   OtherPay      Benefits   TotalPay  TotalPayBenefits  Year
0         0.0  400184.25  Not Provided  567595.43         567595.43  2011

In [6]:
# Process the salary data with a dictionary 
# Convert the salary data into a dictionary for more flexible processing
salary_dict = salary_data.to_dict(orient='records')

# Processing data for a specific employee
for employee in salary_dict:
    if employee['EmployeeName'] == 'Nathaniel Ford':
        print(employee)

In [8]:
# Incorporate error handling
def get_employee_details_with_error_handling(name):
    try:
        employee = salary_data[salary_data['EmployeeName'].str.lower() == name.lower()]
        if employee.empty:
            raise ValueError("Employee not found.")
        return employee
    except KeyError as ke:
        return f"key error: {str(ke)}"
    except ValueError as ve:
        return f"value error: {str(ve)}"
    except Exception as e:
        return f"An expected error occurred: {str(e)}"

In [9]:
# Export employee details to CSV and zip it
import zipfile
import os

def export_employee_to_csv_and_zip(name):
    employee = get_employee_details(name)
    if isinstance(employee, pd.DataFrame):
        filename = f'{name}_details.csv'
        employee.to_csv(filename, index=False)

        # Create a zip file
        with zipfile.ZipFile('Employee_Profile.zip', 'w') as zf:
            zf.write(filename)

        # Remove the CSV after zipping it
        os.remove(filename)
        print(f"Exported and zipped details for {name}.")
    else:
        print(employee)

# Example usage
export_employee_to_csv_and_zip('Nathaniel Ford')

Exported and zipped details for Nathaniel Ford.